
.DS_Store
*.xcuserstate
build/
DerivedData/
*.pbxuser
xcuserdata/
**/.DS_Store
xcuserdata
.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
Packages/
Package.pins
Package.resolved
.swiftpm/xcode
.build/
